* {
    font-family: "Times New Roman", Times, serif;
}

#header {	
    text-align: center;
    background-color: #247BA0;
}

#foto1 {
    width: 75%;
      height: auto;
    display: ruby-base;
    margin-left: 100px;
    margin-right: 100PX;
    align-self: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    
}

ul {
    float: right;
    background-color: #247BA0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: #5ADBFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #5ADBFF;
    height: 22px;
    color: #247BA0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

caption {
    caption-side: bottom;
}

th, td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: #094074;
    color: white;
}

.footer {
    background-color: #5ADBFF;
    padding: 0.5em;
    text-align: right;
}
.Festa {
    color: white;
}
 #box {
    border: solid 2px black;
    width: 200px;
    padding: 20px;
color:#247BA0
}
#lule{
    color:black;
    border: solid 2px black;
    text-align: center;

}